E
node_modules

#/////////////////////////////////////////////////////////////////////////////
# WebStorm files
#/////////////////////////////////////////////////////////////////////////////

.idea/

#//////////////////////////
# VS Code files
#//////////////////////////

.vscode/

.env

data/**
